<h1 class="center">Edit <%= @meat.name %></h1>
<form method="POST" action="/apps/<%= @meat.id %>">
  <input type="hidden" name="_method" value="PUT">
  <div class="input-field">
    <input id="name" required name="name" value="<%= @meat.name %>" />
    <label class="active" for="name">Name</label>
  </div>
  <div class="input-field">
    <textarea class="materialize-textarea" id="desc" required name="description">
      <%= @meat.description %>
    </textarea>
    <label for="desc" class="active">Description</label>
  </div>
 <button class="btn right" type="submit">Save</button>
</form>
