<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="name">
      <h1>Restaurant 350 V2</h1>
    </div>



  <div class="slider">
    <ul class="slides">
      <li>
        <img class="imgs"src="images/fragment.jpg">
        <div class="caption left-align">
          <h3 class="shoe-text">AJ1 Fragment</h3>
          <h5 class="shoe-text" >$2,400.00</h5>

        </div>
      </li>
      <li>
        <img class="imgs" src="images/beluga.jpg">
        <div class="caption right-align">
          <h3 class="black-text">Beluga 1.0</h3>
          <h5 >$1,099.00</h5>
        </div>
      </li>
      <li>
        <img class="imgs"src="images/toro.jpg">
        <div class="caption right-align">
          <h3 class="shoe-text">AJ4 Toro Bravo</h3>
          <h5 class="shoe-text">$485.00</h5>
        </div>
        <li>
          <img class="imgs" src="images/bredy.jpg">
          <div class="caption right-align">
            <h3 class="black-text">Bred</h3>
            <h5 >$999.00</h5>

          </div>
        </li>
        <li>
          <img class="imgs" src="images/bred1.jpg">
          <div class="caption left-align">
            <h3 class="black-text">Bred 1 OG</h3>
            <h5 >$575.00</h5>

          </div>
        </li>
        <li>
          <img class="imgs"src="images/beluga2.png">
          <div class="caption left-align">
            <h3 class="black-text">Beluga 2.0</h3>
            <h5 >$499.00</h5>
          </div>
        </li>
        <li>
          <img class="imgs"src="images/royal.jpg">
          <div class="caption left-align">
            <h3 class="black-text">AJ1 Royal OG</h3>
            <h5 >$325.00</h5>
          </div>
        </li>
      <li>
        <img class="imgs"src="images/nmdr2.png">
        <div class="caption left-align">
          <h3 class="black-text">NMD R2 PK</h3>
          <h5 >$125.00</h5>
        </div>
      </li>
      <li>
        <img class="imgs"src="images/rbanned.jpg">
        <div class="caption left-align">
          <h3 class="black-text">AJ1 Mid</h3>
          <h5 >$110.00</h5>
        </div>
      </li>
    </ul>
  </div>

    <script></script>
  </body>
</html>
