<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Restaurant 350 V2</h1>
    <div class="cards">
      <div class="grid-container">
        <div class="grid">
          <div class='grid-item first-item'>
            <img src='images/card2.jpg' />
          </div>
          <div class='grid-item'>
            <img src='images/card2.jpg' />
          </div>
          <div class='grid-item last-item'>
            <img src='images/card2.jpg' />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
