<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="name">
      <h1>Restaurant 350 V2</h1>
    </div>  



    <div class="slider">
    <ul class="slides">
      <li>
        <img src="images/rl.jpg">
        <div class="caption center-align">
          <h3 class="pics">Rack of Lamb</h3>
          <h5 class="light">Mmmm. Meat Popsicles</h5>
        </div>
      </li>
      <li>
        <img src="images/pic.jpg">
        <div class="caption left-align">
          <h3>Churrasco Top Sirloin</h3>
          <h5>Brazilian Favorite</h5>
        </div>
      </li>
      <li>
        <img src="images/ling.jpg">
        <div class="caption right-align">
          <h3>Linguica</h3>
          <h5 >Delicious Pork Sausage</h5>
        </div>
      </li>
      <li>
        <img src="images/pr.jpg">
        <div class="caption center-align">
          <h3>Succulent Prime Rib</h3>
          <h5 >Daddy Shapiro's Specialty</h5>
        </div>
      </li>
      <li>
        <img src="images/rib.jpg">
        <div class="caption center-align">
          <h3>Bone in Tamahawk Ribeye</h3>
          <h5 >The King of Steaks</h5>
        </div>
      </li>
    </ul>
  </div>

    <script></script>
  </body>
</html>
