<div class='menu-container'>
  <div class='menu'>
    <div class='date'>February 23, 2018</div>
    <div class='links'>
      <div class='menu'>Menu</div>
      <div class='add'>Add</div>
    </div>
  </div>
</div>
<div class='header-container'>
  <div class='header'>
    <div class='subscribe'></div>
    <div
      class='logo'><img
      src="images/bbq.jpg" /
    >
    </div>
  </div>
</div>
