<div class='menu-container'>
  <div class='links'>
    <div class="menu">
      <a href="/meats">Menu </a>
      <a href="/new"> Add</a>
    </div>
  </div>
    <div class="logo">
      <a href="/"> <img id="logo" src="images/bbq.jpg" /></a>
    </div>

</div>
