<div class='menu-container'>
  <div class="title">
    <h2>Alex's Shoe Feast </h2>
  </div>
  <div class='links'>
    <div class="menu">
      <div>
        <a href="/meats"><h3>Menu</h3> </a>
      </div>
      <div class="add">
        <a href="/new"><h3> Add</h3></a>
      </div>
    </div>
  </div>

    <div class="logo">
      <a href="/"> <img id="logo" src="images/logo.jpg" /></a>
    </div>


</div>
