<div class="new">
  <h1 class="center">Add A New Menu Item</h1>

</div>

<form method="POST" action="/meats">
  <div class="input-field">
    <input id="name" required name="name" />
    <label class="active" for="name">Name</label>
  </div>
  <div class="input-field">
    <textarea class="materialize-textarea" id="desc" required name="description"></textarea>
    <label for="desc" class="active">Description</label>
  </div>
  <button class="btn right" type="submit">Save</button>
</form>
