* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3, h5{
  font-size: 30px;
  font-family: 'Cinzel', serif;
  color: black;
}
.name{
  display: flex;
  justify-content: center;
  padding: 80px;
}
h2{
  font-size: 60px;
}

.menu-container{
  border: 5px solid black;
  display: flex;
  justify-content: space-between;
  order: -1;
  font-family: 'Cinzel', serif;
}

.links{
  display: flex;
  width: 200px;
  justify-content: flex-end;
  font-family: 'Cinzel', serif;
}


.menu{
  display: flex;
  width: 200px;
  justify-content: flex-end;
  justify-content: space-between;
  padding: 10px;
}


.logo{
  display: flex;
  justify-content: flex-start;
  order: -2;
  width: 200px;
}

#logo{
  height: 90px;
  width: 200px;
}
.meats{
  display: flex;
  justify-content: center;
  padding: 80px;
}
h1{
  font-family: 'Cinzel', serif;
}

.grid-item {
  display: flex;
  justify-content: center;
}

.centered {
  color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card{
  border-radius: 5%;
  height: 280px;
}
.card-title,
p{
  font-family: 'Cinzel', serif;
  color: white;
}
.btn{
  color: black;
  font-family: 'Cinzel', serif;
  margin: 5px;
}
.new{
  display:flex;
  justify-content: center;
  padding: 80px;
}
